@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#sidebar {
    width: 250px;
    background-color: #f1f1f1;
    padding: 20px;
}

#price-range {
    margin-bottom: 20px;
}

#price-slider {
    width: 100%;
}

#price-values {
    display: flex;
    justify-content: space-between;
}

#filters {
    margin-top: 20px;
    color: #000;
}

#main-content {
    flex-grow: 1;
    padding: 20px;
}

#product-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

h2 {
    margin-top: 0;
}
.search-bar {
  margin-right: 58.362px;
}
.search-bar form {
  width: 363.725px;
  height: 56px;
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  border-radius: 6px;
}
.search-bar form label {
  width: 100%;
}
.search-bar form label:focus-within {
  border: 1px solid black;
  border-radius: 6px;
}
.search-bar form label span {
  margin: 0 18px;
}
.search-bar form label span i {
  font-size: 17px;
}
.search-bar form label input {
  width: 291.725px;
  height: 56px;
  border: none;
  outline: none;
  background-color: rgb(247, 247, 247);
  font-size: 16px;
}
.search-bar form label input::-moz-placeholder {
  font-size: 16px;
  opacity: 0.7;
}
.search-bar form label input::placeholder {
  font-size: 16px;
  opacity: 0.7;
}
#chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 80px;
    /* padding: 10px 20px; */
    width: 100px;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
}

#chat-popup {
    background-color: #c9cbce;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 9999;
}

#chat-container {
    height: 400px;
    display: flex;
    flex-direction: column;
}

#chat-header {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

#chat-footer {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
}

#message-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#send-button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #777;
    
}

.logo {
    width: 100%;
    height: 12vh;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
    
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
    background-color: #e9e9e9;
}

#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

#scrollTopButton.show {
    display: block;
}

/* Header start */















/* header son*/













#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #dbdbdb;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #ffffff;

}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}


#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    display: inline-block;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #dde5fd;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #ebbce3;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1f2d2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

.search-bar {
    margin-right: 58.362px;
  }
  .search-bar form {
    width: 363.725px;
    height: 56px;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    border-radius: 6px;
  }
  .search-bar form label {
    width: 100%;
  }
  .search-bar form label:focus-within {
    border: 1px solid black;
    border-radius: 6px;
  }
  .search-bar form label span {
    margin: 0 18px;
  }
  .search-bar form label span i {
    font-size: 17px;
  }
 .search-bar form label input {
    width: 291.725px;
    height: 56px;
    border: none;
    outline: none;
    background-color: rgb(247, 247, 247);
    font-size: 16px;
  }
 .search-bar form label input::-moz-placeholder {
    font-size: 16px;
    opacity: 0.7;
  }
 .search-bar form label input::placeholder {
    font-size: 16px;
    opacity: 0.7; 
 }
 
 #newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    height: 200px;
    
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
    
}



#newsletter .form {
    width: 500px!important;
    height: 50px!important;
    

}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-left-radius: 60cm;
    border-bottom-left-radius: 0;
    
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo2 {
    width: 60%;
    height: 15vh;
    margin-bottom: 5%;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}


footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

#mobile {
    display: none;
    align-items: center;
}

#page-header {
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #fff;
}



  /* contact page */












  /* what does the fox say */
















  #contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
    color: #797979;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;

}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #929292;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #000;
    color: #fff;
}

#form-details .people {
    padding-top: 7%;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
 
  /* About page */







  /* the destroy of the worlds*/













  #page-header.about-header {
    background-image: url("img/about/banner.png");
}

#about-head {
    display: flex;
    align-items: center;

}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;

}


#close{
    display: none;
}


/* Cart page */
#cart2{
    overflow-x: auto;
  }

#cart2 table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;  
}
#cart2 table img{
width: 70px;
}
#cart2 table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart2 table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart2 table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart2 table td:nth-child(4),
#cart2 table td:nth-child(5),
#cart2 table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart2 table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart2 table thead{
    border: 1px solid #dbdbdb;
    border-left: none;
    border-right: none;
}
#cart2 table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart2 table tbody tr td{
    padding-top: 15px;
}
#cart2 table tbody  td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



#subtotal h3{
    padding-bottom: 15px;
}



#subtotal button{
    background-color: #000;
    color: #fff;
    padding: 12px 20px ;
}

#subtotal button:hover{
    background-color: #fff;
    color: #000;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #dbdbdb;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

 table td{
    width: 50%;
    border: 1px solid #dbdbdb;
    padding: 10px;
    font-size: 13px;
}
#close{
    display: none;
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }
    

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;

    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }
      /* Single Product  */
      #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
    }
    

    

    #newsletter .form {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    footer .copyright {
        text-align: start;
    }


     /* About page */




     /* now i become the death */











    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-left div {
        padding-left: 0px;
    }

    #about-app .video {
        width: 100%;

    }

    /* Contact page */












    /* muhehehehe */
















    #contact-details {
    flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }
    .search-bar form  {
    display: none;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;

    }
    /* Cart page */
      #cart-add{
        flex-direction: column;
      }
      #coupon{
        width: 100%;
      }
      #subtotal{
        width: 100%;
        padding: 20px;

      }
  

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.4s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #close{
        display: none;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;

    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }
        /* contact page */



/* AKU SAYANG */








    #form-details {
    padding: 40px;
    }

    #form-details form {
        width: 50%;
    }
}
}
/* Blog page */
#page-header.blog-header {
    background-image: url("img/about/banner.png");
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;

}


#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a:hover:after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #000000;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}








/* AKU SAYANG */
















 /* Home Page */
 #hero {
    background-image: url(./img/indexsekilleri/AaaAAA.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #ffffff;
}
#hero p {
    color: #a5a5a5;
}

#hero button {

    background-color: transparent;
    color: #ffffffa6;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(253, 253, 255, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}


#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    display: inline-block;
    line-height: 1;
    border-radius: 4px;
    color: #0e0e0e;
    background-color: #09e7d8;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #fddde4;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #d1d1d1;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 10px 10px 54px rgba(29, 26, 92, 0.1);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;

}

/* #product1 .pro img:hover{
  width: 103%;
  transition: 0.2s ease;
} */
#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;

}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
}

#product1 .pro #cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #000000;
    font-weight: 500;
    color: #ffffff;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro #cart:hover {
    color: #000;
    background: #fff;
}

#product-card {
    position: relative;
    display: inline-block;
}


#product-card:hover #product-image {
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;
}

#product-card #product-image {
    transition: transform 0.6s ease-in-out;
    transform: scale(1);
}

#product-image {
    width: 600px;
    height: auto;
}



#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: red;

}

#banner button:hover {
    background-color: #000000;
    color: #ffffff;
}







#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;

}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}



footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}


footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

#mobile {
    display: none;
    align-items: center;
}









/* shop page */









* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1391px;
    margin: 0 auto;
  }
  
  #shop {
    position: relative;
    top: 161px;
    padding: 50px 0;
  }
  #shop .container .shop-content {
    margin-top: 2%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
  }
  #shop .container .shop-content .product-filters-content {
    width: 288px;
  }
  #shop .container .shop-content .product-filters-content a {
    text-decoration: none;
  }
  #shop .container .shop-content .product-filters-content h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: rgb(33, 33, 33);
  }
  #shop .container .shop-content .product-filters-content h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(33, 33, 33);
    margin-bottom: 28px;
  }
  #shop .container .shop-content .product-filters-content label {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
  }
  #shop .container .shop-content .product-filters-content label:hover {
    cursor: pointer;
  }
  #shop .container .shop-content .product-filters-content label:nth-child(2) {
    margin: 0;
  }
  #shop .container .shop-content .product-filters-content label input {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(231, 227, 227) !important;
    outline: none;
    border-radius: 6px;
  }
  #shop .container .shop-content .product-filters-content label span {
    font-size: 14px;
    line-height: 20px;
    color: rgb(33, 33, 33);
  }

  #shop .container .shop-content .product-filters-content #clear-btn {
    width: 130px;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    margin-left: 9%;
    color: rgb(90, 90, 90);
    border: none;
    background-color: #fff;
    cursor: pointer;
    
  }
  #shop .container .shop-content .product-filters-content #clear-btn:hover {
    color: rgb(33, 33, 33);
  }
  #shop .container .shop-content .product-filters-content .product-filters-part-one {
    padding-bottom: 28px;
  }
  #shop .container .shop-content .product-filters-content .product-filters-part-one .product-filters-part-one-content {
    display: flex;
    gap: 10px;
  }
  #shop .container .shop-content .product-filters-content .product-filters-part-one .product-filters-part-one-content .product-filters-part-one-list a {
    font-size: 14px;
    line-height: 20px;
    color: rgb(90, 90, 90);
  }
  #shop .container .shop-content .product-filters-content .product-filters-part-one .product-filters-part-one-content .product-filters-part-one-list:nth-child(3) a {
    font-weight: 600;
    color: rgb(33, 33, 33) !important;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content {
    display: flex;
    flex-direction: column;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    padding-bottom: 28px;
    margin-bottom: 28px;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-category {
    border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
    margin-bottom: 28px;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-brands {
    border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
    margin-bottom: 28px;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-price {
    border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
    margin-bottom: 28px;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-colors {
    border-bottom: 1px solid rgba(90, 90, 90, 0.2);
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
    margin-bottom: 28px;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-colors label {
    gap: 14px;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-colors label .product-filters-colors-black-box {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 50%;
    background-color: #000;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-colors label .product-filters-colors-blue-box {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 50%;
    background-color: blue;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-colors label .product-filters-colors-olive-box {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 50%;
    background-color: olive;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-colors label .product-filters-colors-maroon-box {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 50%;
    background-color: maroon;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-colors label .product-filters-colors-brown-box {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 50%;
    background-color: brown;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-colors label .product-filters-colors-white-box {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 50%;
    background-color: white;
  }
  #shop .container .shop-content .product-filters-content .product-filters-two-content .product-filters-colors label .product-filters-colors-gray-box {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 50%;
    background-color: gray;
  }
  #shop .container .shop-content .casual-wear {
    width: 1007.2px;
  }
  #shop .container .shop-content .casual-wear__head {
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #shop .container .shop-content .casual-wear--head-selected {
    width: 303.31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #shop .container .shop-content .casual-wear--head-selected span {
    font-size: 14px;
    line-height: 20px;
    color: rgb(90, 90, 90);
  }
  #shop .container .shop-content .casual-wear--head-selected button {
    width: 180px;
    height: 37.6px;
    padding: 8px 12px;
    background-color: #fff;
    color: rgb(33, 33, 33);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  #shop .container .shop-content .casual-wear--head-selected button:focus .casual-wear--head-selected-choose {
    display: inline-block;
  }
  #shop .container .shop-content .casual-wear--head-selected button span {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(33, 33, 33);
  }
  #shop .container .shop-content .casual-wear--head-selected button img {
    width: 18px;
    height: 18px;
  }
  #shop .container .shop-content .casual-wear--head-selected-choose {
    display: none;
    position: absolute;
    bottom: -178px;
    left: 0;
  }
  #shop .container .shop-content .casual-wear--head-selected-choose ul {
    width: 180px;
    border-radius: 6px;
    border: 1px solid rgb(220, 220, 220);
  }
  #shop .container .shop-content .casual-wear--head-selected-choose ul li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px 8px 40px;
  }
  #shop .container .shop-content .casual-wear--head-selected-choose ul li:hover {
    background-color: rgb(230, 230, 230);
    color: rgb(161, 136, 76);
  }
  #shop .container .shop-content .casual-wear__product-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 32px;
  }
  #shop .container .shop-content .casual-wear__product {
    width: 179.038px;
    transition: all 0.5s;
    border-radius: 6px;
    cursor: pointer;
  }
  #shop .container .shop-content .casual-wear__product:hover {
    transform: translateY(-7px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.5s;
  }
  #shop .container .shop-content .casual-wear__product__img {
    margin-bottom: 14px;
  }
  #shop .container .shop-content .casual-wear__product__img img {
    width: 100%;
    border-radius: 6px;
  }
  #shop .container .shop-content .casual-wear__product__text {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
  }
  #shop .container .shop-content .casual-wear__product__title {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(33, 33, 33);
  }
  #shop .container .shop-content .casual-wear__product__description {
    font-size: 14px;
    line-height: 22.75px;
    color: rgb(90, 90, 90);
  }
  #shop .container .shop-content .casual-wear__product__price-content {
    margin-top: 10px;
  }
  #shop .container .shop-content .casual-wear__product__price-content span {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }
  #shop .container .shop-content .casual-wear__product__price-content del {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(112, 112, 112);
  }
  .accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .accordion-item.active .accordion-content {
    max-height: 500px; /* İçeriğin maksimum yüksekliği */
  }
  
  #your-inbox {
    position: relative;
    top: 161px;
  }
  #your-inbox .your-inbox-container {
    padding: 64px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    background-color: rgb(249, 249, 249);
  }
  #your-inbox .your-inbox-container__text h3 {
    margin-bottom: 14px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: rgb(33, 33, 33);
  }
  #your-inbox .your-inbox-container__text p {
    font-size: 14px;
    line-height: 28px;
    color: rgb(90, 90, 90);
  }
  #your-inbox .your-inbox-container form {
    display: flex;
  }
  #your-inbox .your-inbox-container form input {
    padding: 8px 28px;
    width: 407.188px;
    height: 56px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(29, 30, 31);
    background-color: #fff;
    border: 1px solid rgba(90, 90, 90, 0.2);
    outline: none;
    border-radius: 6px;
  }
  #your-inbox .your-inbox-container form input:focus-within {
    border: 1px solid rgb(66, 66, 66);
  }
  #your-inbox .your-inbox-container form button {
    margin-left: 8px;
    padding: 16px 32px;
    background-color: rgb(33, 33, 33);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #your-inbox .your-inbox-container form button:hover {
    opacity: 0.85;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  #your-inbox .your-inbox-container form button:hover span {
    opacity: 1;
  }
  #your-inbox .your-inbox-container form button span {
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
  }
  
  footer {
    position: relative;
    top: 161px;
  }/*# sourceMappingURL=search.css.map */
  #page-header {
      background-image: url("img/banner/shopban.jpeg");
      width: 100%;
      height: 40vh;
      background-size: cover;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      padding: 14px;
  }

  #page-header h2,
  #page-header p {
      color: #fff;
  }

  #pagination {
      text-align: center;
  }

  #pagination a {
      text-decoration: none;
      background-color: #000000;
      padding: 15px 20px;
      border-radius: 4px;
      color: #fff;
      font-weight: 600;
  }

  #pagination a i {
      font-size: 16px;
      font-weight: 600;
  }
.accordion-content{
    font-size: 18px;
    line-height: 30px;
    /* background-color: #e2e2e2; */
    padding-top: 2%;
    padding-bottom: 1%;
}
.product-card-color{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-card__color__content{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50% ;
    cursor: pointer;
}
.product-card__color__content:hover{
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.product-card__color__content.active-color{
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.product-card__color--box{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}
.product-card-color{
    padding-top: 1%;
    padding-bottom: 2%;
}

  
  /* shop page end */


/* Single Product */
#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

span {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.countcard {
    padding-top: 3%;
    padding-bottom: 2%;
}

#addToCartButton:hover {
    background-color: #fff;
    color: #000;
}

#prodetails .single-pro-details p {
    line-height: 25px;
}